$pagination-border-width:0;
$pagination-color: #000000;
$pagination-hover-color: #ffffff;
$pagination-hover-bg: #000000;
$pagination-active-color: #ffffff;
$pagination-active-bg: #000000;



@import '../node_modules/bootstrap/scss/bootstrap.scss';
